<h1>Squad Posts</h1>

<ul>
  <% @posts.each do |post| %>
  <li><%= link_to post.title, post_path(post)%></li>
  <ul>
    <li><%= post.category %></li>
    <li><%= post.created_at %></li>
  </ul>
  <% end %>
</ul>
